<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home1.css">
</head>
<body>
<h1>ABOUT</h1>
<hr>
<p>
<h3>Welcome to our Notes Web App! This application is designed to help you efficiently manage your notes. With seamless integration into MongoDB, you can save your notes securely and access them whenever you need. Our intuitive interface makes it easy to create, edit, and view your notes in detail. Start organizing your thoughts and ideas with our reliable and user-friendly app today!</p></h3>
</body>
</html>