<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home1.css">
</head>
<body>
    <h1>contact</h1>
    <hr>
    <p><h2>If you have any questions or need support, feel free to reach out to us.</h2></p>
    <div class="detail"><p><h2>
        <hr>
        <address>
        Address:<br>                          
        1234 Note Street <br>                
        Noteville, NT 56789 <br>              
        USA </address>
        <hr>
        <address>
            phone:<br>
            (123) 456-7890<br>
        </address>
    </h2></p></div>
    <hr>
       
</body>
</html>