<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
<h1 style="text-align: center;" >NOTES</h1>
<hr>
    <div class="container" >
<h2>
    Our application offers two convenient options: "Create a Note" and "Show Entry." Choose "Create a Note" to quickly jot down your thoughts or to-dos. Select "Show Entry" to view and review your previously created notes. Stay organized and manage your tasks efficiently with these easy-to-use features :
</h2>   </div>
<br>
<br>
<br>
<br>
    <div class="main-option" style=" margin-left:30%; ">
        <div class="option1"><form action="/main" method="post">
            <button type="submit" style="height: 100px; width:250px; font-size: 28px;" >create a note</button>
        </form></div><br><br>
        <div class="option2"><form action="/admin" method="post">
            <button style="height: 100px; width:250px; font-size:28px;">show entery </button>
            </form></div>
    </div>
</body>
</html>