<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home1.css">
</head>
<body>
    <h1>    SERVICES</h1>
    <hr>
    <h2>
        <ul>
        <li>Note Creation: Easily create new notes with a simple and intuitive interface.</li>
        <li>Note Editing: Modify your existing notes with ease to keep your information up to date.</li>
        <li>Secure Storage: Save your notes securely in our MongoDB database, ensuring they are always accessible.</li>
        <li>Search Functionality: Quickly find the notes you need with our powerful search feature.</li>
        <li>Detailed View: Access a detailed view of each note, allowing you to see all the information at a glance.</li>
        <li>User-Friendly Interface: Navigate through your notes effortlessly with our clean and user-friendly design.</li>
        </ul>
    </h2>
</body>
</html>